.login-btn {
    text-decoration: none;
    color: #404940;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #b4f5cc;
    
  }
  
  .signup-btn {
    text-decoration: none;
    color: white;
    background-color: #004c22;
    padding: 8px 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #006b31;
    transform: translateY(-2px);
  }
  .login-btn:active,
.signup-btn:active {
  transform: scale(0.97);
}
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
  }
  .Signup-Page{
    display: flex;
    min-height: 100vh;
  }
  .Signup-Page >*{
    flex: 1;
  }
  .image-section img{
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
  @media (max-width: 768px) {
    .Signup-Page{
      flex-direction: column;
    }
    .image-section{
      display: none;
    }
  }